html {
    overflow-x: hidden;
}

body{
    margin: 0 auto;
    background-color: black;
    font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: 100;
  text-align: center;
  color: white;
  padding: 20px;
}

.grid{
  padding: 40px;
}

#answers {
  align-self: center;
  align-items: center;
  text-align: center;
}


.btn {
  width: 200px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Roboto";
  font-weight: 100;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 5px;
  background-color: #BE1E2D;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover {
  color: white;
  background-color: #5f0f16;
}

.hero-video{
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    min-width: 100%;
    min-height: 100%;
    /*width: 100%;*/
    height: auto;
    /*-webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/

}

header {
  display: flex;
  justify-content: center;
  margin: 40px;
}

#title{
     clear: both;
     top: 0;
     width: 600px;
     align-self: center;
}

@media only screen and (max-width: 500px) {
  #title{ width:300px;}
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
}

#map {
  height: 400px;
}

#mapText {
  font-family: "Roboto", sans-serif;
  color: #BE1E2D;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#imageContainer {
  align-self: center;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

#images {
  display: block;
  max-width:250px;
  max-height:250px;
  width: auto;
  height: auto;
  align-self: center;
  align-items: center;
  text-align: center;
}

#wikiContainer {
  align-self: center;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5%;
}

#wiki-info {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1em;
  text-align: left;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
